// Imports
@import "bourbon";
@import "neat";

// Settings
@import "settings/settings";


// Base Styles
@import "base/typography";


// Components List
@import "components/buttons";
@import "components/navigation";
@import "components/forms";
@import "components/footer";
@import "components/background";

// Page Styles
@import "pages/home";


body {
	background-color: $green-lightest;
}

.hero {
	height: 75vh;
	@include rem(margin-bottom, 100px);
	@include rem(margin-top, 80px);
	position: relative;
	z-index: 1;

	@include media($tablet) {
		@include rem(margin-top, 120px);
	}

	.text-block {
		display: block;
		@include rem(margin-top, 30px);
		@include rem(padding-left, 20px);
		width: 95%;
		z-index: 1 !important;

		@include media($tablet) {
			@include rem(padding-left, 60px);
			width:80%;
		}

		@include media($desktop) {
			width:75%;
		}
	}

	h2 {
		width: 80%;

		@include media($tablet) {
			width: 100%;
		}
	}

	p {
		width: 95%;
		@include rem(margin, 20px 0 40px 0);

		@include media($tablet) {
			width: 80%;
		}
	}

	.line {
		@include rem(border-bottom, 5px solid $green-dark);
		@include rem(border-radius, 100px);
	    @include rem(border-top, 1px solid $green-dark);
		position: absolute;
		@include rem(width, 150px);
		   
	    @include media($tablet) {
	    	@include rem(border-bottom, 7px solid $green-dark);
	    	@include rem(border-top, 1px solid $green-dark);
	    	@include rem(width, 200px);
	    }
	}
}

.introduction {
	background-color: white;
	display: inline-block;
	@include rem(margin, 0 auto);
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;

	.text-block-centered {
		display: block;
		@include rem(margin-bottom, 130px);
		@include rem(margin-top, 100px);
		z-index: 1 !important;
	}

	.video {
		@include rem(margin, 0 auto);
		width: 60%;

		.video-container {
			@include rem(padding, 40px);
		}
	}
}

.pricing {
	background-color: $green-lightest;
	display: inline-block;
	@include rem(margin, 0 auto);
	text-align: center;
	width: 100%;
	z-index: 1;

	.text-block-centered {
		display: inline-block;
		z-index: 1 !important;
		@include rem(padding, 20px);

		@include media($desktop) {
			@include rem(padding, 80px);
		}
	}

	.container {
		text-align: center;
		@include rem(padding-top, 30px);

		p {
			text-align: left;
			@include rem(margin-top, 15px);
		}

		.all-boxes {
			background-color: white;
			border: none;
			@include rem(border-radius, 5px);
			@include rem(box-shadow, 0px 1px 15px 5px rgba(0,0,0,0.05));
			@include rem(padding-bottom, 30px);
			@include rem(padding, 30px 20px);
			@include rem(margin-bottom, 30px);
			width: 100%;

			@include media($desktop) {
				@include span-columns(4 of 12);
				@include rem(height, 600px);
				@include rem(margin-bottom, 0);
			}

			.expandable {
				display: block;
				text-align: left;

				.icon {
					display: inline-block;
					@include rem(margin-left, 10px);
					@include rem(width, 40px);
				    color: $green-base;
				    cursor: pointer;
				}
			}
		}
	}
}

.founder {
	background-color: white;
	display: inline-block;
	@include rem(margin, 0 auto);
	position: relative;
	width: 100%;
	z-index: 1;

	.founder-content {
		display: inline-block;
		@include rem(padding, 20px);
		width: 100%;

		@include media($tablet) {
			@include rem(padding, 60px);
		}

		@include media($desktop) {
			@include rem(padding, 80px);
		}

		.text-block-left {
			@include rem(margin, 0 auto);
			width: 100%;
			text-align: center;

			@include media($desktop) {
				text-align: left;
				display: inline-block;
				width: 20%;
				margin-right: 10%;
			}

			.line {
				@include media($desktop) {
					margin-left: 0; 
				}
			}
		}

		.text-block-right {
			width: 100%;
			
			@include media($desktop) {
				display: inline-block;
				float: right;
				width: 70%;
				@include rem(margin-top, 0px);
			}

			p {
				@include rem(margin-top, 20px);

				@include media($desktop) {
					@include rem(margin-top, 0);
				}
			}

			.kalyan {
				display: inline-block;
				@include rem(margin-top, 20px);
				width: 100%;
				text-align: center;

				@include media($desktop) { 
					text-align: left;
				}

				h5 {
					padding-top: 15px;
				}

				img {
					@include rem(width, 25px);
					@include rem(margin, 0 auto);

					@include media($tablet) { 
						@include rem(width, 50px);
					}

					@include media($desktop) {
						float: left;
						@include rem(margin-right, 20px);
					}
				}
			}
			
		}
	}
}



