<footer>
	<div class="footer-inner">	<a href="https://www.youtube.com/channel/UCNG7DIqYfQ1PvNzgqekQYFg" target="_blank"><img src="images/youtube.svg" alt="Link to PrepMedians Youtube page" width="45" height="45"/></a>
	<a href="https://www.instagram.com/prepmedians/" target="_blank"><img src="images/instagram.svg" alt="Link to PrepMedians Instagram page" width="45" height="45"/></a>
	<a href="https://www.facebook.com/Prepmedians-2333656286867908/" target="_blank"><img src="images/facebook.svg" alt="Link to PrepMedians Facebook page" width="45" height="45"/></a></div>
</footer>