// Base Typography
// ========================================

html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  @include font-type($primary-sans-serif, normal, normal);
  font: 100%/1.618;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1 {
  font-style: normal;
  font-weight: $bold;
  font-size: $s-large;
  color: $black-base;
  line-height: 1.3em;
  padding-bottom: 20px;

  @include media($tablet) {
    font-size: $s-huge;
    padding-bottom: 30px;
  }
}

h2 {
  font-style: normal;
  font-weight: $bold;
  font-size: $s-big;
  font-style: italic;
  color: $black-base;
  line-height: 1.3em;
  padding-top: 50px;

  @include media($tablet) {
    font-size: $s-largish;
    padding-top: 60px;
  }
}

p {
  color: $black-base;
  font-size: $s-small;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;

  @include media($tablet) {
    font-size: $s-big;
  }

  sup {
    font-size: $s-tiny;
    vertical-align: super;
  }
}

h3 {
  color: $black-base;
  font-style: normal;
  font-weight: $bold;
  line-height: 1.3em;
  @include rem(margin-bottom, 15px);

  @include media($tablet) {
    font-size: $s-larger;
  }

  sup {
    font-size: $s-bigger;
    vertical-align: super;
  }
}

h4 {
  color: $black-base;
  font-size: $s-tiny;
  font-style: normal;
  font-weight: $light;
  line-height: 1.3em;
  margin: 0 auto;

  @include media($tablet) {
    font-size: $s-small;
  }
}

h5 {
  color: $black-base;
  font-size: $s-big;
  font-style: normal;
  font-weight: $bold;
  line-height: 1.3em;
  @include rem(margin-bottom, 15px);

  @include media($tablet) {
    font-size: $s-bigger;
  }

  sup {
    font-size: $s-small;
    vertical-align: super;
  }
}


li,
dd{
  color: $black-base;
  @include font-type($primary-sans-serif, normal, normal);
  line-height: $base-line-height;
  list-style: none;
}

a {
  color: $black-base;
  @include font-type($primary-sans-serif, normal, normal);
  @include transition(all 0.3s ease-in-out);
  text-decoration: none;
  font-weight: $bold;

  &:hover {
    color: $black-dark;
    text-decoration: none;
  }

  &:active,
  &:focus {
    outline: none;
  }
}

strong, b { font-weight: $bold; }
i, em { font-style: italic; }
