---
title: PrepMedians
---

<section class="hero">
    <div class="text-block">
      	<h1>Test prep that’s made to be enjoyed</h1>
		<hr class="line"></hr>
		<p>Because learning is worth laughing for! Starting at $30, prep for your ACT/SAT test in style. Enter your email below to be notified of our launch.</p>
    </div>
</section>

<img src="images/green.svg" alt="" class="right-play"/>
<img src="images/dark.svg" alt="" class="left-play"/>