---
title: Prepmedians
---

<section class="hero">
    <div class="text-block">
      	<h1>Learn test prep through sketch comedy, rap, and music!</h1>
		<hr class="line"></hr>
		<h2>Because learning is worth laughing for!</h2>
		<p>Get started for free with hilarious videos that teach the same strategies that have helped 150+ students substantially improve their ACT<sup>®</sup> English/SAT<sup>®</sup> Writing & Language scores!</p>
		<a href="" class="button-green">Start ACT<sup>®</sup> English</a>
		<a href="" class="button-darkgreen">Start SAT<sup>®</sup> Writing & Language</a>
    </div>
</section>

<section class="introduction">
    <div class="text-block-centered">
    	<h4>What's a Prepmedian?</h4>
      	<h3>Introduction</h3>
		<hr class="line"></hr>
		<div class="video">
			<script src="https://fast.wistia.com/embed/medias/lmt07py17h.jsonp" async></script>
			<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
			<div class="video-container">
			  <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
			    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
			      <div class="wistia_embed wistia_async_lmt07py17h videoFoam=true" style="height:100%;position:relative;width:100%">
			        <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
			          <img src="https://fast.wistia.com/embed/medias/lmt07py17h/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" onload="this.parentNode.style.opacity=1;" />
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
    </div>
</section>

<section class="pricing">
    <div class="text-block-centered">
    	<h4>Master these strategies!</h4>
      	<h3>Our Pricing</h3>
		<hr class="line"></hr>

		<div class="pricing-container">
		    <div class="col1 all-columns">
		        <h5>ACT<sup>®</sup> English Prep ($30)</h5>
				<hr class="line"></hr>
				<p>This comprehensive package gives you access to 20+ entertaining and educational videos that teach you everything you need to know to crush the ACT<sup>®</sup> English section on June 8th, 2019!</p>
				<div class="expandable"><img src="images/book.svg" alt=""/><p><strong>Full Grammar Content Review</strong></p></div>
				<div class="expandable"><img src="images/puzzle.svg" alt=""/><p><strong>Full Grammar Strategy Review</strong></p></div>
				<div class="expandable"><img src="piano/piano.svg" alt=""/><p><strong>Comedy/Rap/Music Videos</strong></p></div>
				<div class="expandable"><img src="images/agreement.svg" alt=""/><p><strong>Practice Questions</strong></p></div>
				<div class="expandable"><img src="images/award.svg" alt=""/><p><strong>Need-to-Knows Packet</strong></p></div>
				<a href="" class="button-green">Choose ACT<sup>®</sup> Plan</a>
		    </div>
		    <div class="col2 all-columns">
		        <h5>ACT<sup>®</sup>/SAT<sup>®</sup> Writing & Language Prep ($45)</h5>
				<hr class="line"></hr>
				<p>This comprehensive package gives you access to 20+ entertaining and educational videos that teach you everything you need to know to crush both the SAT<sup>®</sup> Writing and Language Section on June 1, 2019 and the ACT<sup>®</sup> English section on June 8th, 2019!</p>
				<div class="expandable"><img src="images/book.svg" alt=""/><p><strong>Full Grammar Content Review</strong></p></div>
				<div class="expandable"><img src="images/puzzle.svg" alt=""/><p><strong>Full Grammar Strategy Review</strong></p></div>
				<div class="expandable"><img src="piano/piano.svg" alt=""/><p><strong>Comedy/Rap/Music Videos</strong></p></div>
				<div class="expandable"><img src="images/agreement.svg" alt=""/><p><strong>Practice Questions</strong></p></div>
				<div class="expandable"><img src="images/award.svg" alt=""/><p><strong>Need-to-Knows Packet</strong></p></div>
				<a href="" class="button-green">Choose Combo Plan</a>
		    </div>
		    <div class="col3 all-columns">
		        <h5>SAT<sup>®</sup> Writing & Language Prep ($30)</h5>
				<hr class="line"></hr>
				<p>This comprehensive package gives you access to 20+ entertaining and educational videos that teach you everything you need to know to crush the SAT<sup>®</sup>  Writing and Language section on June 1st, 2019!</p>
				<div class="expandable"><img src="images/book.svg" alt=""/><p><strong>Full Grammar Content Review</strong></p></div>
				<div class="expandable"><img src="images/puzzle.svg" alt=""/><p><strong>Full Grammar Strategy Review</strong></p></div>
				<div class="expandable"><img src="piano/piano.svg" alt=""/><p><strong>Comedy/Rap/Music Videos</strong></p></div>
				<div class="expandable"><img src="images/agreement.svg" alt=""/><p><strong>Practice Questions</strong></p></div>
				<div class="expandable"><img src="images/award.svg" alt=""/><p><strong>Need-to-Knows Packet</strong></p></div>
				<a href="" class="button-green">Choose SAT<sup>®</sup> Plan</a>
		    </div>
		</div>
    </div>
</section>

<section class="founder">
    <div class="text-block-left">
    	<h4>What's a Prepmedian?</h4>
      	<h3>Introduction</h3>
		<hr class="line"></hr>
    </div>
</section>

<img src="images/green.svg" alt="" class="right-play"/>
<img src="images/dark.svg" alt="" class="left-play"/>