---
title: Prepmedians
---

<section class="hero">
    <div class="text-block">
      	<h1>Learn test prep through sketch comedy, rap, and music!</h1>
		<hr class="line"></hr>
		<p>Leave your e-mail below to be noticed of our April launch and special strategies and tricks! We promise to respect your inbox.</p>

		<!-- Begin Mailchimp Signup Form -->
		<div id="mc_embed_signup">
		<form action="https://premedians.us20.list-manage.com/subscribe/post?u=ca898474c68d8a0f37f2b906b&amp;id=534e6f9eb2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">	
			<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
		    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ca898474c68d8a0f37f2b906b_534e6f9eb2" tabindex="-1" value=""></div>
		    <div class="clear"><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		    </div>
		</form>
		</div>
		<!--End mc_embed_signup-->
    </div>
</section>

<img src="images/green.svg" alt="" class="right-play"/>
<img src="images/dark.svg" alt="" class="left-play"/>